---
import BaseLayout from "../layouts/BaseLayout.astro";
import astronout from "../assets/astronaut.png";
import logo from "../assets/logo.png";
import earth from "../assets/earth.png";
---

<BaseLayout
  title="Error 404"
  showHeader={false}
  useDefault={false}
  showFooter={false}
>
  <div class="error">
    <div class="cosmonot">
      <img src={astronout} alt="" />
    </div>
    <div class="error-box">
      <a class="logo" href="/">
        <img src={logo} alt="" />
      </a>
      <div class="error-box-title ex-bold">
        ERROR &lt;404&gt; : PAGE NOT FOUND
      </div>
      <p class="error-box-desc">
        The cosmic object you are looking for <br />
        has disappeared beyond the event horizon.
      </p>
      <div class="error-box-footer">
        <a href="/" class="error-box-link"> Back to Home</a>
        <div class="world-border">
          <img class="world" src={earth} alt="" />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .error {
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
  }
  .error .world-border {
    width: 157px;
    height: 157px;
    border: 1px solid transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
  .error .world-border:hover {
    border-color: #718096;
  }
  .error .cosmonot {
    position: absolute;
    right: 30%;
    top: 30%;
    height: 122px;
    animation: cosmonot 60s forwards;
  }
  .error .cosmonot img {
    height: 100%;
  }
  .error .world {
    animation: world 30s linear infinite;
  }
  .error-box {
    position: absolute;
    bottom: 40px;
    left: 25%;
    color: #e5e5e5;
    z-index: 9;
  }
  .error-box .logo img {
    height: 4rem;
  }
  .error-box-title {
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: 56px;
    margin-bottom: 18px;
  }
  .error-box-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
  }
  .error-box-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .error-box-footer img {
    height: 77px;
  }
  .error-box-link {
    color: currentColor;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #718096;
    padding-bottom: 14px;
  }
  @keyframes cosmonot {
    from {
      transform: rotate(0) translate(0, 0) scale(1);
    }
    to {
      transform: rotate(360deg) translate(200px, -200px) scale(0.05);
    }
  }
  @keyframes world {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .github-btn {
    position: absolute;
    right: 40px;
    bottom: 50px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: #24292e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-family: "Open Sans";
  }
  @media screen and (min-width: 500px) {
    .github-btn:hover {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }
  @media screen and (max-width: 700px) {
    .github-btn {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 20px;
    }
    .github-btn:active {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }
</style>
